.Landing {
    
  .myHeader {
    background: linear-gradient(60deg, $blue-01, #3232de 40%);
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation-name: slideInDown;
    animation-duration: 1s;
    z-index: 5;

    .logo{
      color: $white-01;

      .icon--logo {
        fill: $white-01;
        margin: 0 auto
      }

      span {
        font-weight: 200;
      }
    }
  }

  .landingImage {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px;

  }
.scrollAdvise {
    min-width: fit-content;
    :nth-child(2){
      color: $blue-01;
      font-weight: 1000;
      overflow: hidden;
      height: 25px;
      ul{
        transform: translateY(-50%);
        animation: roulette infinite;
        animation-duration: 1s;
      }
    }
  }
  .homeInfo{
    >* {
      padding: 0 20px;
    }
    h1{
      font-weight: 800;
      color: $blue-01;
    }
    
    
    ul {
      li {
        color: $blue-01;
        font-weight: 800;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        transition: all .2s;
      }
      li:hover {
        transform: scale(1.1)
      }
    }
  }

  .makeOrder {

    form{
      input {
        border: 0px;
        border-radius: 5px;
        width: 90%;
      }
    }

  }


  @keyframes slideInDown {
    from {
      transform: translate3d(-50%,-100%,0);
    }
    to {
      transform: translate3d(-50%,0,0);
    }
    
  }


  @keyframes roulette {
    from {
      transform: translateY(-50%);
    }

    to {
      transform: translateY(0%);
    }
  }
}